<div class="bg-white shadow rounded-lg p-6 mb-6">
  <h2 class="text-xl font-bold mb-4">基本情報</h2>
  <div class="text-gray-700 mb-4"><%= spot.description %></div>
  <div class="text-gray-700">投稿者</div>
  <div class="text-gray-700"><%= spot.user.name %></div>
</div>
