<div class="mb-6" data-controller="previews">
  <%= form.label :images, class: "block text-gray-700 font-medium mb-2" %>
  <%= form.file_field :images, multiple: true, accept: ".jpg, .jpeg, .png, .gif",
                    direct_upload: true,
                    data: { previews_target: "input", action: "change->previews#preview", turbo: "false" },
                    class: "border border-gray-300 rounded p-2 w-full" %>


  <!-- プレビューエリア -->
  <div id="image-preview" data-previews-target="preview" class="grid grid-cols-3 gap-4 mt-4">
    <!-- 既存の画像がある場合 -->
    <% if spot.images.attached? %>
      <% spot.images.each do |image| %>
        <%= image_tag image, class: "w-32 h-32 object-cover rounded" %>
      <% end %>
    <% end %>
  </div>
</div>
